<div *ngIf="record">
     <h2>{{record.name | uppercase}} Record Details</h2>
     <div>Id: {{record.id}}</div>
     <div>
          <label for="name">Name: </label>
          <input id="name" [(ngModel)]="record.name" placeholder="name">
     </div>
     <div class="coffe-description">Description: {{record.description}}</div>
     <div class="coffee-type">Type: {{record.type}}</div>
     <div class="consumingn-date">Consuming Date: {{record.consumingDate | date: 'medium'}}</div>
</div>
<button type="button" (click)="save()">save</button>
<button type="button" (click)="goBack()">go back</button>
